<div class="container">
  <div class="box">
   
      <div class="header"><h1>BASIC CALCULATOR</h1></div>
      
      <div class="content">
        <div class="container">
          <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="num1" [(ngModel)] = "num1"><Br>
          <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="num2"  [(ngModel)] ="num2">
       
      </div>
      </div>
      <div class="button">
        <div class="all_bot">
          <ul>
          <li><button type="button" class="btn btn-primary" (click)="add()">Add</button></li>
          <li><button type="button" class="btn btn-secondary" (click)="sub()">Subtract</button></li>
        </ul>
          <ul>
          <li><button type="button" class="btn btn-success" (click)="div()">Divide</button></li>
          <li><button type="button" class="btn btn-danger" (click)="mult()">Multiply</button></li>
        </ul>
      </div>
      </div>
      <Br>
        <Br>
          <Br>
      <div class="result">
        <h1>The result is :{{num3}}</h1>
      </div>
    </div>
</div>